* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: #121212;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 90px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  color: #01ff16;
  font-weight: 900;
  font-size: 20px;
  background: linear-gradient(to right, #01ff16 50%, #01ff16 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-links {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-links a {
  color: #8a8989;
  font-weight: 500;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

.nav-links a.active {
  color: #01ff16;
  font-weight: 600;
}

.nav-links a:hover {
  color: #01ff16;
}

.btn-box {
  display: flex;
}

.btn-orange {
  background-color: #01ff16;
  color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #01ff16;
}

.btn-orange:hover {
  background-color: transparent;
  color: #01ff16;
}

.btn-sidebar {
  background: inherit;
  color: #fff;
  padding: 10px 30px;
  border: unset;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #1b1b1b;
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1001;
}

.sidebar.active {
  right: 0;
}

.sidebar-links {
  margin-top: 20px;
}

.sidebar .sidebar-links a {
  color: #ccc;
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin: 20px 0px;
  transition: 0.3s ease;
}

.sidebar .sidebar-links a:hover {
  color: #fff;
}

.sidebar-button {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-button button {
  width: 100%;
}

.close-btn {
  margin-top: 20px;
  display: flex;
  justify-self: flex-end;
  border: none;
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  background: none;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero-background {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  width: 100%;
  z-index: 999;
}

.hero-text {
  position: relative;
  z-index: 2;
  margin-top: 50px;
}

.hero-text p {
  font-size: 18px;
  color: #8a8989;
}

.hero-text h2 {
  font-size: 24px;
  color: #979595;
  margin: 10px 0 20px 0;
}

.hero-text h1 {
  font-size: 35px;
  color: #979595;
  letter-spacing: 3px;
}

.hero-text h1 span {
  color: transparent;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 0.7px #01ff16;
  animation: animate-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes animate-text {
  25%,
  100% {
    display: none;
  }
}

.hero-text h1 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #01ff16;
  color: #01ff16;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.hero-text h1:after {
  content: "";
  position: absolute;
  top: -50px;
  left: 5px;
  right: -30px;
  bottom: -10px;
  background: radial-gradient(
    ellipse at 30% 50%,
    rgba(255, 111, 0, 0.12) 0%,
    rgba(30, 15, 0, 0) 50%
  );
  z-index: -1;
  filter: blur(8px);
}
.social-icons {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}

.btn_a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(60, 60, 60, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_a:hover {
  background-color: rgba(#01ff16);
}

.social-icons a i {
  font-size: 18px;
  color: #aaa;
}

.hero-buttons {
  margin: 20px 0;
}

.btn-outline {
  background: none;
  border: 1px solid #aaa;
  color: #ccc;
  padding: 10px 30px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-outline:hover {
  background-color: #121212;
  color: #dfdcdc;
  border: 1px solid #dfdcdc;
}

.stats {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  background: #1b1b1b;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  max-width: 450px;
}

.stats div {
  padding: 25px 15px;
  min-height: 70px;
  position: relative;
}

.stats div:not(:last-child):after {
  content: "";
  position: absolute;
  top: 25%;
  height: 50%;
  right: -10px;
  border-right: 2px solid rgba(151, 149, 149, 0.2);
}

.stats p {
  font-size: 17px;
  color: #01ff16;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.stats h6 {
  font-size: 15px;
  color: #dfdcdc;
  display: block;
  font-weight: 600;
}

.hero-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-image-box {
  width: 400px;
  height: 400px;
  overflow: hidden;
  background-color: #1b1b1b;
  border-radius: 50%;
  position: relative;
}

.hero-image .hero-image-box img {
  position: absolute;
  width: 200px;
  height: 500px;
  width: 100%;
  top: -20%;
  border-radius: 10px;
  filter: grayscale(100%);
  transform: scaleX(-1);
}

/* Making the design mobile friendly */

@media (max-width: 1000px) {
  .hero-text h1::after {
    display: none;
  }
  .hero-image {
    position: absolute;
    justify-content: flex-end;
    opacity: 0.8;
  }
  .hero-text h1 {
    font-size: 30px;
  }
  .container {
    padding: 0px 40px;
  }
  .nav-links {
    display: none;
  }
  .btn-sidebar {
    display: block;
  }
  .btn-top {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-section {
    margin-top: 60px;
    height: unset;
  }
  .hero-image {
    display: block;
    width: 100px;
    height: 100px;
    top: -1%;
  }

  .hero-image-box {
    background: unset;
    opacity: 0.3;
  }

  .hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero-text p {
    font-size: 24px;
  }
  .hero-text h2 {
    font-size: 35px;
    font-weight: 900;
  }
  .hero-text h1 {
    font-size: 27px;
    letter-spacing: 1px;
  }

  .container {
    padding: 0px 20px;
  }

  .stats p {
    font-size: 15px;
  }

  .stats h6 {
    font-size: 13px;
  }
}
